StubAssetWorkflow/StubAssetApplicationProject/StubAssetBPELProject/bpelContent/StubAssetMpxTransformService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns2="http://model.skytv.co.nz/vod/v1" xmlns:ns1="http://service.skytv.co.nz/puborch-transform/v1"
	xmlns:sky="http://xml.theplatform.com/media/data/sky" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.skytv.co.nz/puborch-transform/v1">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://service.skytv.co.nz/puborch-transform/v1">
			<xs:import namespace="http://model.skytv.co.nz/vod/v1" />
			<xs:import namespace="http://xml.theplatform.com/media/data/sky" />
			<xs:element name="TransformRequest" type="ns1:TransformRequest" />
			<xs:complexType name="TransformRequest">
				<xs:sequence>
					<xs:element name="fromType" type="xs:string" />
					<xs:element name="toType" type="xs:string" />
					<xs:element name="source">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0"
									ref="ns2:Title" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="TransformResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element form="unqualified" name="rss">
							<xs:complexType>
								<xs:sequence>
									<xs:element form="unqualified" name="channel">
										<xs:complexType>
											<xs:sequence>
												<xs:element form="unqualified" maxOccurs="unbounded"
													name="item">
													<xs:complexType>
														<xs:sequence>
															<xs:element form="unqualified" name="title"
																type="xs:string" />
															<xs:element form="unqualified" name="description"
																type="xs:string" />
															<xs:element ref="sky:skyID" />
															<xs:element ref="sky:seasonID" />
															<xs:element ref="sky:seasonTitle" />
															<xs:element ref="sky:seasonNumber" />
															<xs:element ref="sky:episodeNumber" />
															<xs:element ref="sky:credits" />
															<xs:element ref="sky:studio" />
															<xs:element ref="sky:contentProviderID" />
															<xs:element ref="sky:contractID" />
															<xs:element ref="sky:programType" />
															<xs:element ref="sky:releaseYear" />
															<xs:element ref="sky:state" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="version" type="xs:decimal" use="required" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified" targetNamespace="http://model.skytv.co.nz/vod/v1">
			<xs:element name="Title" type="ns2:Title" />
			<xs:complexType name="Title">
				<xs:sequence>
					<xs:element name="titleId" type="xs:long" />
					<xs:element name="title" type="xs:string" />
					<xs:element name="episodeNumber" type="xs:long" />
					<xs:element name="yearOfProduction" type="xs:long" />
					<xs:element name="type" type="xs:string" />
					<xs:element name="distributor" type="xs:string" />
					<xs:element name="contentProviderId" type="xs:long" />
					<xs:element name="state" type="xs:integer" />
					<xs:element name="seriesId" type="xs:long" />
					<xs:element name="seriesName" type="xs:string" />
					<xs:element name="seriesYear" type="xs:string" />
					<xs:element name="synopsis" type="xs:string" />
					<xs:element ref="ns2:casts" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="casts" type="ns2:casts" />
			<xs:complexType name="casts">
				<xs:sequence>
					<xs:element minOccurs="0" ref="ns2:cast" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="cast" type="ns2:cast" />
			<xs:complexType name="cast">
				<xs:sequence>
					<xs:element name="castId" type="xs:long" />
					<xs:element name="roleId" type="xs:long" />
					<xs:element name="roleName" type="xs:string" />
					<xs:element name="firstName" type="xs:string" />
					<xs:element name="lastName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://xml.theplatform.com/media/data/sky">
			<xs:import namespace="http://service.skytv.co.nz/puborch-transform/v1" />
			<xs:element name="skyID" type="xs:string" />
			<xs:element name="seasonID" type="xs:long" />
			<xs:element name="seasonTitle" type="xs:string" />
			<xs:element name="seasonNumber" type="xs:long" />
			<xs:element name="episodeNumber">
				<xs:complexType />
			</xs:element>
			<xs:element name="credits">
				<xs:complexType>
					<xs:sequence>
						<xs:element form="unqualified" maxOccurs="unbounded"
							name="credit">
							<xs:complexType>
								<xs:sequence>
									<xs:element form="unqualified" name="last" type="xs:string" />
									<xs:element form="unqualified" name="first" type="xs:string" />
									<xs:element form="unqualified" name="role" type="xs:string" />
								</xs:sequence>
								<xs:attribute name="creditID" type="xs:long" use="required" />
								<xs:attribute name="personId" type="xs:long" use="required" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="studio" type="xs:string" />
			<xs:element name="contentProviderID" type="xs:long" />
			<xs:element name="contractID" type="xs:long" />
			<xs:element name="programType" type="xs:string" />
			<xs:element name="releaseYear" type="xs:integer" />
			<xs:element name="state" type="xs:integer" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="TransformRequest">
		<wsdl:part name="parameters" element="ns1:TransformRequest" />
	</wsdl:message>
	<wsdl:message name="TransformResponse">
		<wsdl:part name="parameters" element="ns1:TransformResponse" />
	</wsdl:message>
	<wsdl:portType name="StubAssetMpxTransformServicePortType">
		<wsdl:operation name="Transform">
			<wsdl:documentation>This operation transforms an XML in to another
				format, it takes a in format and and out and then applies
				an XSLT to
				it, to generate the output.
			</wsdl:documentation>
			<wsdl:input message="ns1:TransformRequest" wsaw:Action="urn:Transform" />
			<wsdl:output message="ns1:TransformResponse" wsaw:Action="urn:Transform" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StubAssetMpxTransformServiceSoap11Binding"
		type="ns1:StubAssetMpxTransformServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Transform">
			<soap:operation soapAction="urn:Transform" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="StubAssetMpxTransformServiceSoap12Binding"
		type="ns1:StubAssetMpxTransformServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="Transform">
			<soap12:operation soapAction="urn:Transform" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="StubAssetMpxTransformServiceHttpBinding"
		type="ns1:StubAssetMpxTransformServicePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="Transform">
			<http:operation location="Transform" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StubAssetMpxTransformService">
		<wsdl:port name="StubAssetMpxTransformServiceHttpSoap11Endpoint"
			binding="ns1:StubAssetMpxTransformServiceSoap11Binding">
			<soap:address
				location="http://esb.skytv.co.nz:8280/services/StubAssetMpxTransformService.StubAssetMpxTransformServiceHttpSoap11Endpoint" />
		</wsdl:port>
		<wsdl:port name="StubAssetMpxTransformServiceHttpsSoap11Endpoint"
			binding="ns1:StubAssetMpxTransformServiceSoap11Binding">
			<soap:address
				location="https://esb.skytv.co.nz:8243/services/StubAssetMpxTransformService.StubAssetMpxTransformServiceHttpsSoap11Endpoint" />
		</wsdl:port>
		<wsdl:port name="StubAssetMpxTransformServiceHttpsSoap12Endpoint"
			binding="ns1:StubAssetMpxTransformServiceSoap12Binding">
			<soap12:address
				location="https://esb.skytv.co.nz:8243/services/StubAssetMpxTransformService.StubAssetMpxTransformServiceHttpsSoap12Endpoint" />
		</wsdl:port>
		<wsdl:port name="StubAssetMpxTransformServiceHttpSoap12Endpoint"
			binding="ns1:StubAssetMpxTransformServiceSoap12Binding">
			<soap12:address
				location="http://esb.skytv.co.nz:8280/services/StubAssetMpxTransformService.StubAssetMpxTransformServiceHttpSoap12Endpoint" />
		</wsdl:port>
		<wsdl:port name="StubAssetMpxTransformServiceHttpsEndpoint"
			binding="ns1:StubAssetMpxTransformServiceHttpBinding">
			<http:address
				location="https://esb.skytv.co.nz:8243/services/StubAssetMpxTransformService.StubAssetMpxTransformServiceHttpsEndpoint" />
		</wsdl:port>
		<wsdl:port name="StubAssetMpxTransformServiceHttpEndpoint"
			binding="ns1:StubAssetMpxTransformServiceHttpBinding">
			<http:address
				location="http://esb.skytv.co.nz:8280/services/StubAssetMpxTransformService.StubAssetMpxTransformServiceHttpEndpoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
